h1 {
    color: red;
}

table {
    width: 100%;
    border: 1px solid #000;
}

th,
td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    /*La propiedad border-collapse se utiliza para fusionar los bordes.*/
    padding: 0.3em;
    /* El padding en CSS es una propiedad o relleno que se crea alrededor del contenido de un elemento dentro de los bordes definidos y sirve para dar formato y diseño a una página web.*/
    caption-side: bottom;
}

caption {
    padding: 0.3em;
    color: #fff;
    background: #000;
}

th {
    background: #eee;
}

.titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.comentario {
    font-family: Impact, 'Arial Narrow Bold';
    text-align: center;
    font-size: 25px;
}


/*
.border {
    /* border: 2px red solid;
    width: 200px;
    height: 190px;
    margin: auto;
}
*/

.lista {
    text-align: center;
    height: auto;
}